/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

/* Header Styling */
#page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e0e0;
  padding: 10px;
}

.topNaviagationLink {
  margin-right: 20px;
}

.topNaviagationLink a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.topNaviagationLink a:hover {
  color: #808080;
}

/* Main Content Styling */
#mainPicture {
  display: flex;
  margin-top: 20px;
}

.picture {
  flex: 1;
  background-image: url("mainimage.png"); /* Replace with background image  */
  background-size: cover;
  background-position: center;
  height: 1200px;
}

.contentBox {
  flex: 2;
  padding: 20px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 15px;
}

.contentText {
  line-height: 1.5;
}

blockquote {
  margin: 10px 0 20px 20px;
  border-left: 5px solid #808080;
  padding-left: 15px;
}

/* Footer Styling */
.innerBox {
  padding-bottom: 30px;
}

h4 {
  text-align: center;
  margin-top: 20px;
  color: gray;
}

a[href^="http://"] {
  color: #808080;
}

a[href^="http://"]:hover {
  color: #000;
}
